.product {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 100px;
    max-height: 300px;
    max-width: 300px;
    /* border-radius: 1%; */
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 5px 5px rgba(0, 0, 0, 0.06);
    z-index: 1;
}

.product>img {
    max-height: 250px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product__info {
    height: 100px;
    margin-bottom: 20px;
}

.product__price {
    margin-top: 5px;
}

.product__rating {
    display: flex;
}

.product>button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}